/*
 * Prospector Scanner - User Overlay
 *
 * Reduce SPI frequency for dupont wire connection (long wires add
 * parasitic capacitance that can corrupt signals at high speeds).
 * Original: 20 MHz → Reduced to 4 MHz for reliability.
 */

&st7789v {
    mipi-max-frequency = <4000000>;
};
